.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2.25rem; /* Base para dispositivos grandes */
}

/* Media queries para ajustes en dispositivos más pequeños */
@media (max-width: 768px) {
  .titulo {
    font-size: 2rem; /* Tamaño más pequeño para tablets */
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 1.75rem; /* Tamaño aún más pequeño para teléfonos */
  }
}

.container {
  border: 2px solid black;
}

h2 {
  text-align: center;
  margin-bottom: 6px;
}

.img-container {
  height: 250px; /* Establece una altura fija para el contenedor de la imagen */
  overflow: hidden; /* Asegura que cualquier imagen que exceda este tamaño sea recortada */
  position: relative; /* Posicionamiento relativo para más control si es necesario */
  border-radius: 0.5rem; /* Estiliza los bordes si es deseado */
}

.img-responsive {
  width: 100%; /* Asegura que la imagen cubra todo el ancho del contenedor */
  height: 100%; /* Asegura que la imagen cubra la altura del contenedor (250px en este caso) */
  object-fit: cover; /* Cubre completamente el contenedor, cortando los excesos */
}

.puntuacion {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}
