
.text-shadow {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.imagenFondo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0b0838;
  opacity: 0.33;
}
