// @import '../../../styles.scss';


.menu-spacer {
  flex: 1 1 auto;
}

.link-secondary{
  margin: 0 40px !important;
  font-weight: 600;
}

.link-secondary:hover {
  color: rgb(247, 165, 0) !important;
  text-decoration: underline;
}

.logo{
  width: 5rem;
  height: auto;
}


.btn{
  margin-right: 12px;
}


.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toolbar-buttons {
  display: flex;
  gap: 10px; /* Ajusta el espacio entre los botones según necesites */
}


button[_ngcontent-ng-c1934853599]:hover{
  background-color: #130F4E !important;
}


.mat-sidenav-container, .mat-sidenav {
  position: relative; /* O 'absolute', 'fixed', 'sticky' según sea necesario */
  z-index: 10000;
}





