<!-- <footer class="bg-fondot font-sans dark:bg-primaryt">
  <div class="container px-2 py-5 mx-auto ">

    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4 justify-between items-center">
      <div class="sm:col-span-2 bg-primaryt text-secondaryt flex flex-col items-center justify-center sm:p-18 xl:p-20 xl:mr-32">
        <p class=" text-secondaryt">Suscribete a nuestra
          Newsletter y mantente al día sobre las novedades.</p>
          <form class="flex flex-col mx-auto mt-6 space-y-3 md:space-y-0 md:flex-row items-center py-5" action="TU_ENDPOINT_DE_ENVIO" method="POST">
            <input id="email" name="email" type="email" class="px-4 py-2 text-secondaryt bg-transparent border-0 border-b-2 border-yellow-500 focus:ring-0" placeholder="tucorreo@gmail.com" required />

            <button type="submit" class="bg-primaryt text-secondaryt px-6 py-2 rounded flex items-center justify-center ml-5">

              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
              </svg>
            </button>
          </form>
      </div>

      <div>
        <p class="font-semibold text-gray-800 dark:text-white">Dirección</p>

        <div class="flex flex-col items-start mt-5 space-y-2">
          <p
            class="text-gray-600 transition-colors duration-300">Calle parque perruno, n11</p>
          <p
            class="text-gray-600 transition-colors duration-300 ">
            Castilleja de la cuesta</p>
          <p
            class="text-gray-600 transition-colors duration-300 ">
            41950  Sevilla</p>
        </div>
      </div>

      <div>
        <p class="font-semibold text-gray-800 dark:text-white">Contacto</p>

        <div class="flex flex-col items-start mt-5 space-y-2">
          <p
            class="text-gray-600 transition-colors duration-300 ">
            +34 602 300 315</p>
          <p
            class="text-gray-600 transition-colors duration-300 ">
            planazo&#64;email.com</p>
          <p
            class="text-gray-600 transition-colors duration-300 ">
            Finance & Insurance</p>
        </div>
      </div>
    </div>

    <div>
      <hr class="my-6 border-gray-200 md:my-8 dark:border-gray-700 h-2" />

      <div class="sm:flex sm:items-center sm:justify-between">

        <p class="font-sans p-8 text-start md:text-center md:text-lg md:p-4">© 2024 Planazo s.l. Todos los derechos reservados.
        </p>
        <p class="font-sans p-8 text-start md:text-center md:text-lg md:p-4">Política de privacidad
        </p>
        <p class="font-sans p-8 text-start md:text-center md:text-lg md:p-4">Política de Cookies
        </p>
        <p class="font-sans p-8 text-start md:text-center md:text-lg md:p-4">Trabaja con nosotros
        </p>
        <div class="flex gap-4 hover:cursor-pointer">
          <img src="https://www.svgrepo.com/show/303114/facebook-3-logo.svg" width="30" height="30" alt="fb" />
          <img src="https://www.svgrepo.com/show/303115/twitter-3-logo.svg" width="30" height="30" alt="tw" />
          <img src="https://www.svgrepo.com/show/303145/instagram-2-1-logo.svg" width="30" height="30" alt="inst" />
          <img src="https://www.svgrepo.com/show/28145/linkedin.svg" width="30" height="30" alt="in" />
        </div>
      </div>
    </div>


  </div>
</footer> -->


<footer class="bg-fondot font-sans dark:bg-primaryt">
  <div class="container px-1 py-3 mx-auto">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 justify-between items-center">

      <div>
        <p class="font-semibold text-gray-800 dark:text-white">Dirección</p>
        <div class="flex flex-col items-start mt-2 space-y-1">
          <p class="text-gray-600 transition-colors duration-300">Calle parque perruno, n11</p>
          <p class="text-gray-600 transition-colors duration-300">Castilleja de la cuesta</p>
          <p class="text-gray-600 transition-colors duration-300">41950 Sevilla</p>
        </div>
      </div>

      <div>
        <p class="font-semibold text-gray-800 dark:text-white">Contacto</p>
        <div class="flex flex-col items-start mt-2 space-y-1">
          <p class="text-gray-600 transition-colors duration-300">+34 602 300 315</p>
          <p class="text-gray-600 transition-colors duration-300">planazo&#64;email.com</p>
          <p class="text-gray-600 transition-colors duration-300">Finance & Insurance</p>
        </div>
      </div>
      <div class="sm:col-span-2 bg-primaryt text-secondaryt flex flex-col items-center justify-center p-4 xl:mr-8">
        <p class="text-secondaryt">Suscríbete a nuestra Newsletter y mantente al día sobre las novedades.</p>
        <form class="flex flex-col mx-auto mt-3 space-y-2 md:space-y-0 md:flex-row items-center py-2" action="TU_ENDPOINT_DE_ENVIO" method="POST">
          <input id="email" name="email" type="email" class="px-3 py-1 text-secondaryt bg-transparent border-0 border-b-2 border-yellow-500 focus:ring-0" placeholder="tucorreo@gmail.com" required />
          <button type="submit" class="bg-primaryt text-secondaryt px-4 py-1 rounded flex items-center justify-center ml-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
            </svg>
          </button>
        </form>
      </div>

    </div>

    <div>
      <hr class="my-4 border-gray-200 md:my-6 dark:border-gray-700" />

      <div class="sm:flex sm:items-center sm:justify-between">
        <p class="font-sans p-4 text-start md:text-center md:text-lg">© 2024 Planazo s.l. Todos los derechos reservados.</p>
        <div class="flex flex-col md:flex-row md:gap-6">
          <p class="font-sans p-2 md:text-center md:text-lg">Política de privacidad</p>
          <p class="font-sans p-2 md:text-center md:text-lg">Política de Cookies</p>
          <p class="font-sans p-2 md:text-center md:text-lg">Trabaja con nosotros</p>
        </div>
        <div class="flex gap-2 hover:cursor-pointer">
          <img src="https://www.svgrepo.com/show/303114/facebook-3-logo.svg" width="24" height="24" alt="fb" />
          <img src="https://www.svgrepo.com/show/303115/twitter-3-logo.svg" width="24" height="24" alt="tw" />
          <img src="https://www.svgrepo.com/show/303145/instagram-2-1-logo.svg" width="24" height="24" alt="inst" />
          <img src="https://www.svgrepo.com/show/28145/linkedin.svg" width="24" height="24" alt="in" />
        </div>
      </div>
    </div>
  </div>
</footer>
