<section *ngIf="actividad; else errorTemplate" class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
        <img class="w-full" [src]="getImagenUrl(actividad.imagen)" [alt]="actividad.nombre || 'Nombre de la actividad'" />
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0">
        <div class="flex flex-wrap justify-between">
          <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
            {{ actividad.nombre || 'Nombre de la actividad' }}
          </h1>
          <span class="puntuacion bg-gray-200 p-1 rounded mr-5 mb-2">{{ actividad.puntuacion }}</span>
        </div>

        <hr>
        <br>
        <p class="mt-2 text-gray-500 dark:text-gray-400">
          {{ actividad.descripcion || 'Descripción no disponible' }}
        </p>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a [href]="getGoogleMapsLink(actividad.direccion)" target="_blank">
            <app-button> VER UBICACIÓN </app-button>
          </a>
          <app-button class="button" (click)="toggleOpiniones()">OPINIONES</app-button>
          <app-button *ngIf="isUserLoggedIn && !isAdmin" (click)="openOpinionModal()">AÑADIR OPINIÓN</app-button>
          <app-button *ngIf="isAdmin" (click)="deleteActividad()">ELIMINAR ACTIVIDAD</app-button>
        </div>

        <hr class="my-6 md:my-8 dark:border-gray-800" />

        <div class="grid grid-cols-2 gap-4">
          <div>
            <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Dirección</h2>
            <p class="mt-2 text-gray-500 dark:text-gray-400">
              {{ actividad.direccion || 'Dirección no disponible' }}
            </p>
          </div>
          <div>
            <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Horario</h2>
            <p class="mt-2 text-gray-500 dark:text-gray-400">
              {{ actividad.horario || 'Horario no disponible' }}
            </p>
          </div>
        </div>

        <div class="mt-6 flex justify-between">
          <a [href]="getGoogleSearchLink(actividad.nombre)" target="_blank" class="text-blue-500 underline hover:no-underline">
            Más información
          </a>
          <app-button *ngIf="isUserLoggedIn && !isAdmin" (click)="addActividadFavorita()">GUARDAR ACTIVIDAD</app-button>
          <app-button *ngIf="isAdmin" [routerLink]="['/editar-actividad', actividad.id]">EDITAR ACTIVIDAD</app-button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div *ngIf="mostrarOpiniones" class="mt-8">
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-3">Opiniones</h2>
      <hr>
      <br>
      <div *ngFor="let comentario of comentarios.slice().reverse()" class="w-full mb-4">
        <div class="h-full bg-gray-100 p-4 rounded text-left relative">
          <p class="leading-relaxed mb-2 text-left">{{ comentario.descripcion }}</p>
          <div class="absolute top-6 right-4 bg-secondaryt text-primaryt rounded-full px-3 py-2 text-sm ">{{ comentario.puntuacion }}</div>
          <span class="block text-gray-500 text-sm mt-2">{{ comentario.titulo }}</span>
          <span class="block text-gray-500 text-sm">Usuario: {{ usuarioNombres[comentario.usuarioId] || 'Desconocido' }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #errorTemplate>
  <div class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased text-center">
    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
      {{ error }}
    </h1>
  </div>
</ng-template>

<!-- Modal para añadir opinión -->
<div *ngIf="isOpinionModalOpen" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded shadow-lg max-w-md w-full">
    <h2 class="text-2xl font-bold mb-4">Añadir Opinión</h2>
    <form (submit)="submitOpinion($event)">
      <div class="mb-4">
        <label for="titulo" class="block mb-1">Título</label>
        <input type="text" id="titulo" name="titulo" class="w-full py-2 px-4 rounded border border-gray-300" required>
      </div>
      <div class="mb-4">
        <label class="block mb-1">Puntuación</label>
        <div class="flex items-center space-x-2">
          <input type="radio" name="rating" id="rating1" value="1">
          <label for="rating1">1</label>
          <input type="radio" name="rating" id="rating2" value="2">
          <label for="rating2">2</label>
          <input type="radio" name="rating" id="rating3" value="3">
          <label for="rating3">3</label>
          <input type="radio" name="rating" id="rating4" value="4">
          <label for="rating4">4</label>
          <input type="radio" name="rating" id="rating5" value="5">
          <label for="rating5">5</label>
        </div>
      </div>
      <div class="mb-4">
        <label for="message" class="block mb-1">Comentario</label>
        <textarea id="message" name="message" class="w-full py-2 px-4 rounded border border-gray-300" required></textarea>
      </div>
      <button type="submit" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600">Enviar</button>
    </form>
    <button class="mt-4 py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-600" (click)="closeOpinionModal()">Cancelar</button>
  </div>
</div>
